/*Fonts*/

@font-face {
  font-family: "gta";
  src: url("../fonts/GT-America-Regular.eot");
  src: url("../fonts/GT-America-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-America-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "gta";
  src: url("../fonts/GT-America-Bold.eot");
  src: url("../fonts/GT-America-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-America-Bold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "gta";
  src: url("../fonts/GT-America-Black.eot");
  src: url("../fonts/GT-America-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-America-Black.woff2") format("woff2");
  font-weight: 700;
}


/*Styles*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

html {
  background: #000000;
}

body {
  padding: 24px 16px;
  margin: 0 auto;
  max-width: 760px;
  font-size: 20px;
  line-height: 24px;
  color: #BABABA;
  font-family: "gta", sans-serif;
  font-weight: 400;
  position:relative;
  min-height: 100vh;
}

#center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

strong {
  color: #ffffff;
  font-weight: 600;
}

.btn p {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #581EFF;
  font-weight: 600;
}

a:hover {
  border-bottom: 1px solid #581EFF;
}

h1 {
  font-size: 60px;
  line-height: 72px;
  color: #000000;
  font-weight: 700;
  -webkit-text-stroke: 1px #581EFF;
  margin-bottom: 24px;
}

section > p + p {
  margin-top: 16px;
}

#strikeout {
  width: 33.5em;
  height: 1px;
  background: #ffffff;
  transform: rotate(1deg);
  position: relative;
  top: 47px;
  left: -2px;
}

header {
  margin-bottom: 60px;
}

section {
  margin-bottom: 64px;
}

header p:first-of-type {
  margin-bottom: 4px;
}

.btn {
  padding: 13px 24px 14px 20px;
  background: rgba(255,255,255,0.1);
  width: fit-content;
  border-radius: 12px;
  transition: all 0.2s;
  display: flex;
}

.btn:hover {
  margin-top: -4px;
  background: rgba(255,255,255,0.12);
}

.btn > p + p {
  padding-left: 12px;
}
