/*Fonts*/

@font-face {
  font-family: "larsseit";
  src: url("../fonts/larsseit.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/larsseit.eot?#iefix") format("embedded-opentype"), url("../fonts/larsseit.woff") format("woff"), url("../fonts/larsseit.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 400;
}
@font-face {
  font-family: "larsseit";
  src: url("../fonts/larsseit-medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/larsseit-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/larsseit-medium.woff") format("woff"), url("../fonts/larsseit-medium.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 500;
}
@font-face {font-family: 'larsseit';src: url('../fonts/374C50_0_0.eot');src: url('../fonts/374C50_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/374C50_0_0.woff2') format('woff2'),url('../fonts/374C50_0_0.woff') format('woff'),url('../fonts/374C50_0_0.ttf') format('truetype'); font-weight: 600;}


/*Animations*/

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Styles*/

html {
  background: #4200FF;
}

body {
  line-height: 1;
  background: #ffffff;
  font-family: "larsseit", sans-serif;
  -webkit-font-smoothing: antialiased;

}

.content {
  position: relative;
  z-index: 0;
  width: 1020px;
  margin: 0 auto;
}

.hundred {
  height: 1000px;
  margin-top: 120px;
}

.hundredone {
  margin-top: 0;
}

.hundredtwo .content,
.hundredthree .content {
  position: relative;
  top: 50%;
  transform: translateY(-56%);
}

.hundredthree .content {
  transform: translateY(-62%);
}

/* Change fade in speed for background change here */
.changeColor {
  background-color: #4200FF;
  transition: 1.2s all;
}

.removeColor{
  background-color: #FFFFFF;
  transition: 0.5s all;
}

#logo {
padding-top: 64px;
}

#logo p {
  font-weight: 500;
}

#logo span {
  opacity: 0.4;
}

h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0px;
}

h1 + h1 {
  margin-top: 40px;
}

h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
}

h2 + p {
  margin-top: 24px;
}

a {
  text-decoration: none!important;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.4px;
  opacity: 0.8;
}

p a,
a p
 {
  font-weight: 500;
  opacity: 1;
}

p + p {
  margin-top: 20px;
}

.small p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.2px;
}

.flex {
  display: flex;
}

.divider {
  width: 100%;
  height: 48px;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}

#hero {
  margin: 160px 0 0 40px;
  width: 840px;
  position: relative;
  z-index: 2;
}

#scratch {
  position: relative;
  top: 47px;
  left: -2px;
  width: 648px;
  height: 5px;
  object-fit: contain;
  transform: rotate(1deg);
  border-radius: 5px;
  background-color: #000000;
}

#greycircle {
  width: 800px;
  height: 800px;
  background: #f4f4f6;
  border-radius: 50%;
  border: 0;
  margin: 456px 0 0 340px;
  position:relative;
  z-index: 0;
}

#pausetrigger {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-top: 856px;
}

#hash {
  position: relative;
  margin: 647px 0 0 606px;
}

.herobg {
  width: 1020px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#projectlinks {
  margin-top: 80px;
  position: relative;
  z-index: 1;
  width: max-content;
}

#projectlinks h1 + h1,
#projectlinks h1:last-child {
  margin-top: 12px;
}

.projectlink {
  font-size: 84px;
  line-height: 88px;
  font-weight: 600;
  color: #ffffff;
  -webkit-text-stroke: 2px #000000;
  transition: all 0.2s;
}

.projectlink.focusme {
  color: black;
  -webkit-text-stroke: 0px;
}

.projectlink:hover {
  color: #000000;
  -webkit-text-stroke: 0px;
  margin-left: 16px;
}

.contactme {
  margin: 180px 0 0 230px;
  color: #ffffff;
}

.contactcopy {
  margin-left: 40px;
}

.textcarousel {
  padding-top: 120px;
  transform: rotate(1deg);
  color: #191919;
  opacity: 0.24;
  overflow: visible;
}

.textcarousel h2 {
  display: inline-block;
  margin-right: 104px;
}

.wave {
  font-size: 48px;
}

.socials {
  margin-top: 40px;
}

.socials p {
  color: #ffffff;
  margin: 0 20px;
  opacity: 1;
}

.socials p a,
.contactbtn {
  color: #ffffff;
}

.socials p:first-of-type {
  margin-left: 0;
  opacity: 0.8;
}

.contactbtn {
  padding: 8px 20px;
  background: #3A3BEA;
  border-radius: 8px;
  display: inline-block;
  margin-top: 48px;
}

.contactbtn:hover {
  background: #ffffff;
  color: #4200ff;
}

.moveDown {
  margin-top: 1000px;
  transition: 2s all;
}

.fadeOutScroll {
  opacity: 0;
  transition: 1s;
}

.fadeInScroll {
  opacity: 1;
  transition: 2s;
}

.hundredthree {
  overflow: hidden;
  margin-top: 600px;
  height: 100vh;
  max-height: 1000px;
}

.pausetriggertwo {
  display: hidden;
  height: 1px;
}

.projectimg {
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0;
}

.appear {
  opacity: 1;
}

.reappear {
  opacity: 1;
  transition: 0.5s;
}

.disappear {
  opacity: 0;
  transition: 0.2s;
}

.projectimglink {
  width: 800px;
  height: 800px;
}
